/*body{
    background-color: white;
}
.container{
    position: flex;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: white;
}

.container h1{
    text-align: center;
}

.field-form{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

div.form{
    text-align:center;
    margin-left: 50% auto;
    margin-right: 50% auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.p-task{
    background-color: orange;
    text-align: center;
    color: white;
    font-size: 120%;
}*/

body{
    background-color: #638CB8;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
  color: #d3d3d3;
}

.submit{
    background-color: #6BA3E8;
}

.center-column{
    width:600px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.item-row{
    background-color: #906abd;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-danger{
    background-color: #ffae19;
    border-color: #e59400;
}