{% extends 'tasks/base.html' %}

{% block title %}To Do App{% endblock %}


{% block content %}

<!--
<div class="container">
    <h1>LIST</h1>

    <form method="POST" action="" class="field-form">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Create Task">
    </form>

    {% for task in tasks %}
        <div>
            <a href="{% url 'update_task' task.id %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>

            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
            <p class="p-task">{{task}}</p>
        </div>
    {% endfor %}
</div>
-->

<div class="center-column">

	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<div class="todo-list">

	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}


<!--
{% for task in tasks %}
    <div>
        <p>{{task}}</p>
    </div>
{% endfor %}
-->
