<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do app</title>
</head>
<body>

<h1>LIST</h1>

<form method="POST" action="">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <p>{{task}}</p>
    </div>
{% endfor %}

<!--
{% for task in tasks %}
    <div>
        <p>{{task}}</p>
    </div>
{% endfor %}
-->

</body>
</html>